<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PS4_Trainer_Menu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PS4_Trainer_Menu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <PS4_Trainer_Menu.Properties.Settings>
            <setting name="IPAddressText" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="Checkcon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FWIndex" serializeAs="String">
                <value />
            </setting>
            <setting name="isitattached" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Game_Selector" serializeAs="String">
                <value>0</value>
            </setting>
        </PS4_Trainer_Menu.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <PS4_Trainer_Menu.Properties.Settings>
            <setting name="elfPort" serializeAs="String">
                <value>9020</value>
            </setting>
            <setting name="kelfport" serializeAs="String">
                <value>9023</value>
            </setting>
            <setting name="portk" serializeAs="String">
                <value>9020</value>
            </setting>
            <setting name="PayloadNotify" serializeAs="String">
                <value>Delivered Payload</value>
            </setting>
        </PS4_Trainer_Menu.Properties.Settings>
    </applicationSettings>
</configuration>